
body{
	background-color: black;
	font-family: 'Lato', sans-serif;
	color: white;
	padding:0px;

}

a:link{
	color:white; 
	text-decoration: none;
}
a:visited{
	color:white; 
	text-decoration: none;
}
a:hover{
	color:transparent;
}

.designrow{
	display: flex;
	width: 800px;
	height: 200px;
	flex-wrap: wrap;
	padding: 0px;
}

.box1{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-top: 100px solid #5B87FF;
	border-right: 100px solid #4476FF;
}

.box2{
	width: 0;
	height: 0;
	border-left: 100px solid #5B87FF;
	border-bottom: 100px solid #4476FF;
	border-top: 100px solid #B9CCFF;
	border-right: 100px  solid #A2BBFF;

}
.box3{
	width: 0;
	height: 0;
	border-left: 100px solid #B9CCFF;
	border-bottom: 100px solid #A2BBFF;
	border-top: 100px solid #6F44FF;
	border-right: 100px solid #815BFF;
}
.box4{
	width: 0;
	height: 0;
	border-left: 100px solid #6F44FF;
	border-bottom: 100px solid #815BFF;
	border-top: 100px solid transparent;
	border-right: 100px solid transparent;
}
.box5{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #4476FF;
	border-top: 100px solid transparent;
	border-right: 100px solid #5B87FF;
}
.box6{
	width: 0;
	height: 0;
	border-left: 100px solid #4476FF;
	border-bottom: 100px solid #A2BBFF;
	border-top: 100px solid #5B87FF;
	border-right: 100px solid #B9CCFF;
}
.box7{
	width: 0;
	height: 0;
	border-left: 100px solid #A2BBFF;
	border-bottom: 100px solid #815BFF;
	border-top: 100px solid #B9CCFF;
	border-right: 100px solid #6F44FF;
}
.box8{
	width: 0;
	height: 0;
	border-left: 100px solid #815BFF;
	border-bottom: 100px solid transparent;
	border-top: 100px solid #6F44FF;
	border-right: 100px solid transparent;
}

.content{

}

.navigation{
	display: flex;
	width: 800px;
}
.space{
	width: 200px;
	height: 400px;

}

.nav-e{
	font-size: 80px;
	text-align: center;
	background: #4476FF;
	flex-grow: 1;
	height:400px;
}
.nav-m{
	font-size: 80px;
	text-align: center;
	background: #A2BBFF;
	flex-grow: 1;
	height:400px;
}
.nav-v{
	font-size: 80px;
	text-align: center;
	background: #815BFF;
	flex-grow: 1;
	height:400px;
}

.nav-e:hover{
	color: transparent;
	flex-grow: 8;
	-webkit-transition: border-right 2s;
}
.nav-m:hover{
	color: transparent;
	flex-grow: 8;
	-webkit-transition: border-radius 2s;
}
.nav-v:hover{
	flex-grow: 8;
	color: transparent;
	-webkit-transition: border-left 2s;
}